@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


body {
    margin: 0;
    font-family: Roboto;
}

.header h3 {
    color: white;
    margin-right: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;

}
li {
    color: #e5e7eb;
}

.container, .header {
    padding: 0 300px;
}
.container {
    display: flex;
    justify-content: space-between;
}

.childcontainer {
    display: flex;
    justify-content: space-around;
}

.container div {
    flex: 1;
}

#container1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 128px;
    padding-bottom: 100px;
}

#container1 div {
    flex-grow: 1;
}

#container1 h1, p, button {
    color: white;
    margin-top: 10px;
}

#container1 h1 {
    font-weight: 900;
    font-size: 40px;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    padding: 4px 20px;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 100px;
}

#container2 {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#container2 h1 {
    margin-top: 64px;
    margin-bottom: 32px;
}

#container2 .childcontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
    gap: 32px;
    margin: 16px 0;
    
}

#container2 .childcontainer div {
    width: 200px;
}

#container2 img {
    width: 100%;
    border-radius: 10px;
}

#container2 p {
    color: black;
}
.square {border-color: #3882F6;

}

#container3 {
    background-color: #e5e7eb;
}

#container3 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

#container3 h1 {
    font-style: italic;
    font-weight: 400;
}

#container3 h2 {
    align-self: flex-end;

}

#container4 .childcontainer {
    margin: 100px auto;
    background-color: #3882F6;
    padding: 32px 64px;
    color: white;
    border-radius: 20px;
    align-items: center;
}

#container4 button {
    width: 100px;
    height: 25px;
    border-color: white;
    border-style: solid;
    padding: 8px;
    box-sizing: content-box;
}

.footer {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p {
    margin: 0;
    color: #e5e7eb;
}



